<web-app>

  <servlet>
    <servlet-name>buy</servlet-name>
    <servlet-class>com.yf.weixinpay.servlet.BuyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>image</servlet-name>
    <servlet-class>com.yf.weixinpay.servlet.ImageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>result</servlet-name>
    <servlet-class>com.yf.weixinpay.servlet.ResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>buy</servlet-name>
    <url-pattern>/payment/buy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>image</servlet-name>
    <url-pattern>/payment/image</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>result</servlet-name>
    <url-pattern>/payment/result</url-pattern>
  </servlet-mapping>
</web-app>
